.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.cancel-modal {
  width: 470px;
  background: #fff;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.cancel-modal h3 {
  font-size: var(--text-h2-size);
  font-weight: var(--fw-semibold);
  color: var(--color-text);
  margin-bottom: 20px;
}

.cancel-modal p {
  font-size: var(--text-body-lg-size);
  line-height: 1.7;
  color: var(--neutral-800);
}

.cancel-modal strong {
  font-weight: var(--fw-semibold);
}

.modal-actions {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.keep-btn {
  padding: 12px 22px;
  border: 1px solid var(--neutral-300);
  background: white;
  color: var(--color-text);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.keep-btn:hover {
  background: var(--neutral-100);
}

.cancel-btn {
  padding: 12px 22px;
  border: none;
  background: var(--color-accent-2);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.cancel-btn:hover {
  background: var(--accent-2-600);
}