.input-box{
    background-color: var(--color-surface) !important;
    color: var(--neutral-800);
    border: 1px solid var(--neutral-400);
}

@media  screen and (max-width:768px) {

    .main-container{
        padding: 33px 56px !important;
    }
    
}


@media  screen and (max-width:480px) {

    .main-container{
        padding: 24px 46px !important;
    }
    
}